.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 999;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .5em 1.3em;
    background: transparent;
}

.active {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(60, 60, 60, 0.75);
    outline: .5px solid rgba(187, 187, 187, 0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logolink{
    font-weight: 800;
    font-size: 1.7em;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neutral);
}

.navlinks{
    list-style: none;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    padding: .5em;
    font-weight: 600;
}

.navlinks a{
    /* cursor: pointer; */
    text-decoration: none;
    color: var(--clr-neutral);
}

.navlinks a:hover{
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.fa-cart-shopping {
    font-size: 1.3em;
    color: var(--clr-neutral);
    padding: .5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: transparent;
}

.fa-cart-shopping:hover {
    background-color: rgb(242, 242, 242, 0.4);
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
}